.signout {
    border: 3px solid black !important;
    border-radius: 40px !important;
    cursor: pointer;
    color: black !important;
    font-size: 20px !important; 
    font-weight: 600 !important;
}
